.table-head {
  position: sticky !important;
  top: 0 !important;
  z-index: 4;
}

.table-head-row {
  display: flex;
  width: 1400px;
  font-weight: 700;
  color: rgb(49, 81, 185);
  background-color: rgb(224, 224, 250);
}

.table-head-cell {
  display: flex;
  align-items: center;
  position: relative;
  left: 0px;
  z-index: 1;
	width: 120px;
  padding: 10px;
}

.table-head-number {
  width: 50px;
}

.table-head-name {
  width: 190px;
}

.table-head-location {
  width: 160px;
}

.table-head-job {
  width: 250px;
}

.table-head-name,
.table-head-number {
  position: sticky !important;
  z-index: 4 !important;
}

.table-head-number {
  left: 0px;
  background-color: rgb(224, 224, 250);
}

.table-head-name {
  left: 68px;
  background-color: rgb(224, 224, 250);
}

.sticky {
  position: sticky !important;
  z-index: 2;
  background-color: rgb(224, 224, 250);
}

.hidden {
  display: none;
}

.title-active {
  color: gray;
}