.row {
  display: flex;
  align-items: center;
  width: 1400px !important;
  height: 55px;
}

.row-cell {
  width: 120px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.row-number {
  width: 50px;
}

.row-name {
  width: 190px;
}

.row-location {
  width: 160px;
}

.row-job {
  width: 250px;
}

.row-name,
.row-number {
  position: sticky;
}

.row-number {
  left: 0px;
}

.row-name {
  left: 68px;
}

.even {
  background-color: rgb(243, 242, 242);
}

.odd {
  background-color: rgb(255, 255, 255);
}