.search-name-input {
  height: 18px;
  width: 140px;
  padding: 2px;
  border: 1px solid rgb(49, 81, 185);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
}

.fa-search {
  margin-left: 90px;
  color:gray;
  cursor: pointer;
}

.hidden {
  display: none;
}