.table-controls {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: 10px;
}

.title {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  color: rgb(49, 81, 185);
}